---
---

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.0;
    max-width: 550px;
    margin: 100px auto 40px auto;
    padding: 0 40px;
    color: #000;
    background-color: #FAF9F7;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    color: #C15B78;
    text-decoration: none;
}

/* This keeps links black even after visiting */
a:visited {
    color: #C15B78;
}

/* Optional: This keeps links black when hovering */
a:hover {
    color: #F4A460;
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    margin: 4px 0;
}

p {
    margin: 16px 0;
}
